@using ProjectManagementApp.Models
@model ProjectDetail
<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Projects</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Projects</li>
            </ol>
          </div>
        </div>
      </div>  
</section>

<a asp-controller = "Project" class="btn btn-primary btn-sm"  asp-action = "ProjectCreate">Create New Project</a>
<br>
<hr>
    <!-- Main content -->
    <section class="content">

<div class="row">
      <!-- Default box -->
      <div class="card col-8 pl-1">
        <div class="card-header">
          <h3 class="card-title">Projects</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <span title="3 New Messages" class="badge badge-success">@Model.Projects.Count()</span>
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <table class="table table-striped projects">
              <thead>
                  <tr>
                      <th style="width: 1%">
                          #
                      </th>
                      <th style="width: 20%">
                          Project Name
                      </th>
                      <th>
                          Project Progress
                      </th>
                      <th style="width: 8%" class="text-center">
                          Status
                      </th>
                      <th style="width: 20%">
                      </th>
                  </tr>
              </thead>
              <tbody>
                
            @if (Model.Projects != null){
                @foreach(var pm in Model.Projects){
                  <tr>
                      <td>
                          #
                      </td>
                      <td>
                          <a>
                            @pm.Title
                          </a>
                          <br/>
                          <small>
                              Created 
                              @pm.Created_At
                          </small>
                      </td>
                     
                      <td class="project_progress">
                          <div class="progress progress-sm">
                              <div class="progress-bar bg-green" role="progressbar" aria-valuenow="57" aria-valuemin="0" aria-valuemax="100" style="width: 57%">
                              </div>
                          </div>
                          <small>
                              57% Complete
                          </small>
                      </td>
                      <td class="project-state">
                          <span class="badge badge-success">Success</span>
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" asp-controller = "Project" asp-action = "ProjectDetail" asp-route-Id = "@pm.Id">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>

                      </td>
                  </tr>
                  }}
                else{
                    <p>No Project Found</p>
                  }
                  
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>



            <div class="col-4">
                <div class="card direct-chat direct-chat-warning">
                  <div class="card-header">
                    <h3 class="card-title">Invitations</h3>

                    <div class="card-tools">
                      <span title="3 New Messages" class="badge badge-danger">@Model.Invitations.Count()</span>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">

                    <div class="direct-chat-messages">
              @foreach(var invitation in Model.Invitations){
                  if(invitation.status == "Accepted"){
                  <ul class="products-list product-list-in-card pl-2 pr-2">
                  <li class="item">
                    <div class="product-img">
                      <img src="../../dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">
                        <span class="badge badge-success float-right">Accepted</span>
                         </a>
                         <span class="text-primary">Title</span>
                         <span>@invitation.Title</span>
                    <div>
                        <span class="text-secondary">
                        From:@invitation.Sender_Name
                      </span>
                    </div>
                    </div>
                  <span class="badge badge-warning ">@invitation.Created_At</span>
                    <a asp-controller = "Task" asp-action = "InvitedTaskDetail" asp-route-Id="@invitation.Id"> <span class="badge badge-secondary float-right">Detail</span></a> 
                  </li>
                  </ul>
                    }
                    else if (invitation.status == "Declined"){     
                  <ul class="products-list product-list-in-card pl-2 pr-2">
                  <li class="item">
                    <div class="product-img">
                      <img src="../../dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <a href="javascript:void(0)" class="product-title">
                         <span class="badge badge-danger float-right">Declined</span></a>
                         <span class="text-primary">Title</span>
                         <span>@invitation.Title</span>
                       <div>
                        <span class="text-secondary">
                        From:@invitation.Sender_Name
                      </span>
                    </div>
                    </div>
                  <span class="badge badge-warning ">@invitation.Created_At</span>
                  <a asp-controller = "Task" asp-action = "InvitedTaskDetail" asp-route-Id = "@invitation.Id"> <span class="badge badge-secondary float-right">Detail</span></a> 
                  </li>
                  </ul>
                    }
                     else {
                       <ul class="products-list product-list-in-card pl-2 pr-2">
                        <li class="item">
                          <div class="product-img">
                            <img src="../../dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                          </div>
                          <div class="product-info">
                            <a href="javascript:void(0)" class="product-title">
                              <span class="badge badge-primary float-right">Check Me</span></a>
                              <span class="text-primary">Title</span>
                              <span>@invitation.Title</span>
                              <div>
                                <span class="text-secondary">
                                From:@invitation.Sender_Name
                              </span>
                            </div>
                          </div>
                         <span class="badge badge-warning ">@invitation.Created_At</span>
                         <a asp-controller = "Task" asp-action = "InvitedTaskDetail" asp-route-Id = "@invitation.Id"> <span class="badge badge-secondary float-right">Detail</span></a>
                        </li>
                     </ul>
                      }
                    
                   
                    }
                   
                    </div>
                  </div>
                </div>
              </div>
          </div>

    </section>
    <!-- /.content -->


<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>