@using ProjectManagementApp.Models
@model TaskDetail
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Task Detail</h1>
    </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Task Detail</h3>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Start Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.Task.Start_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">End Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.Task.End_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted bg-color-primary">Progress</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.Task.Progress%</span>
                </div>
                </div>
            </div>
            </div>
            

              <div class="card col-10">
              <div class="card-header">
                <h3 class="card-title">Sub Tasks</h3>

                <div class="card-tools">
                <span title="3 New Messages" class="badge badge-warning">@Model.SubTasks.Count()</span>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body p-0 ">
                <ul class="products-list product-list-in-card pl-2 pr-2">
                @if(Model.SubTasks == null || Model.SubTasks.Count() == 0){
                    <p>No SubTask Please Add</p>
                }
                else{
                 foreach(var st in Model.SubTasks){
                  <li class="item">
                    <div class="product-img">
                      <img src="../../dist/img/default-150x150.png" alt="Product Image" class="img-size-50">
                    </div>
                    <div class="product-info">
                      <span>Title</span>
                      <a href="javascript:void(0)" class="product-title"> @st.Title
                        @if(st.Status == "Pending"){
                            <span class="badge badge-primary float-right">@st.Status</span>
                        }
                        else{
                            <span class="badge badge-success float-right">@st.Status</span>
                        }
                         </a>
                         <span class="float-right"></span>
                      <span class="product-description">
                        @st.Description
                      </span> 
                      <a asp-controller="SubTask" asp-action="Detail" asp-route-Id = "@st.Id"><span class="badge badge-secondary float-right">Detail</span></a>
                    <div>
                    @if(Model.SubTaskWeights != null || Model.SubTaskWeights.Count() != 0){
                        foreach(var stw in Model.SubTaskWeights){
                        if(stw.SubTaskId == st.Id){
                            
                            <span class="badge badge-secondary">Weight : @stw.Weight%</span>
                        }

                        }
                        }
                    else{
                        <p>No Progress</p>
                        }
                    </div>
                    </div>
                  </li>
                  }
                  }
                </ul>
              </div>
            </div> 

            <div class="row">
            <div class="col-12">
                <h4>@Model.Task.Description</h4>
                <p></p>
                <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <div class="text-muted">
            <p class="text-sm">Client Company
                <b class="d-block">Deveint Inc</b>
            </p>
            <p class="text-sm">Project Leader
                <b class="d-block"></b>
            </p>
            </div>

            <h5 class="mt-5 text-muted">Task Related Files</h5>
            <ul class="list-unstyled">
                @foreach(var tf in Model.TaskFiles){
                  
                  <li>
                    @if(tf.ContentType.StartsWith("image/")){
                         <i class="fas fa-file-image" style="color:blue;"></i>
                         <a href="@Url.Action("GetTaskFile", "Task", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else if(tf.ContentType == "application/pdf"){
                      <i class="fas fa-file-pdf" style="color:red;"></i>
                      <a href="@Url.Action("GetTaskFile", "Task", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else if(tf.ContentType == "application/msword"){
                      <i class="fas fa-file-word"></i>
                      <a href="@Url.Action("GetTaskFile", "Task", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else{
                      <i class="fas fa-file" style="color:gray;"></i>
                      <a href="@Url.Action("GetTaskFile", "Task", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                 
                  </li>
                }
              </ul>

      
        <a asp-controller = "Project" asp-action = "ProjectDetail" asp-route-Id = "@Model.Task.ProjectId" class="badge badge-danger">Back</a>
        <a asp-controller = "SubTask" asp-action = "Create" asp-route-Id = "@Model.Task.Id"  class="badge badge-primary">Add New Sub Task</a>

        <a asp-controller = "Task" asp-action = "StatusUpdate" asp-route-Id = "@Model.Task.Id"  class="badge badge-success">Complete the Task</a>

       
        </div>
        </div>
    </div>
    </div>

</section>
