@using ProjectManagementApp.Models
@model TaskDetail


<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Task Detail Info</h1>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Projects Detail</h3>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
            <div class="col-12 col-sm-5">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted"> Start Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.Task.Start_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">End Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.Task.End_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Estimated project duration</span>
                    <span class="info-box-number text-center text-muted mb-0">20</span>
                </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-12">
                <h4>Description</h4>
                <p>@Model.Task.Description</p>
                <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <div class="text-muted">
            <p class="text-sm">Client Company
                <b class="d-block">Deveint Inc</b>
            </p>
            <p class="text-sm">Project Leader
                <b class="d-block">@Model.Invitation.Sender_Name</b>
            </p>
            </div>

            <h5 class="mt-5 text-muted">Project files</h5>
            <ul class="list-unstyled">
            <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Functional-requirements.docx</a>
            </li>
            <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-pdf"></i> UAT.pdf</a>
            </li>
            <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-envelope"></i> Email-from-flatbal.mln</a>
            </li>
            <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-image "></i> Logo.png</a>
            </li>
            <li>
                <a href="" class="btn-link text-secondary"><i class="far fa-fw fa-file-word"></i> Contract-10_12_2014.docx</a>
            </li>
            </ul>
        @if(Model.Invitation.status == null){
            <div class="text-center mt-5 mb-3">
            <form asp-controller = "Task" asp-action = "AcceptInvitation" method="post">
            <input type="hidden" value="@Model.Invitation.TaskId" name="TaskId">
            <input type="hidden" name="ProjectId" value="@Model.Invitation.ProjectId">
            <input type="hidden" name="InvitationId" value="@Model.Invitation.Id">
            <b><span class="text-success">Accept</span></b>
            <input type="radio" name="Status" value="Accepted" id="">
            <b><span class="text-danger">Decline</span></b>
            <input type="radio" name="Status" id="" value="Declined">
            <button  class="btn btn-sm btn-primary" type="submit">Done</button>
            </form>
            </div>
        }
       <a class="badge badge-danger asp-controller = "Project" asp-action = "AllProjects">Back</a>
        </div>
        </div>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
