@using ProjectManagementApp.Models
@model SubTaskDetail
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Sub-Task Detail Info</h1>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
    <div class="card-header">
        <h3 class="card-title">Sub-Task Detail</h3>
    </div>
    <div class="card-body">
        <div class="row">
        <div class="col-12 col-md-12 col-lg-8 order-2 order-md-1">
            <div class="row">
            <div class="col-12 col-sm-5">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Start Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.SubTask.Start_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-5">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">End Date</span>
                    <span class="info-box-number text-center text-muted mb-0">@Model.SubTask.End_Date</span>
                </div>
                </div>
            </div>
            <div class="col-12 col-sm-2">
                <div class="info-box bg-light">
                <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Estimated project duration</span>
                    <span class="info-box-number text-center text-muted mb-0">20</span>
                </div>
                </div>
            </div>
            </div>
            
            <div class="row">
            <div class="col-12">
                <h4>@Model.SubTask.Description</h4>
                <p></p>
                <p class="text-muted">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</p>
            </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-4 order-1 order-md-2">
            <h5 class="mt-5 text-muted">SubTask 
                files</h5>
             <ul class="list-unstyled">
                @foreach(var tf in Model.SubTaskFiles){
                  
                  <li>
                    @if(tf.ContentType.StartsWith("image/")){
                         <i class="fas fa-file-image" style="color:blue;"></i>
                         <a href="@Url.Action("GetSubTaskFile", "SubTask", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else if(tf.ContentType == "application/pdf"){
                      <i class="fas fa-file-pdf" style="color:red;"></i>
                      <a href="@Url.Action("GetSubTaskFile", "SubTask", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else if(tf.ContentType == "application/msword"){
                      <i class="fas fa-file-word"></i>
                      <a href="@Url.Action("GetSubTaskFile", "SubTask", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                    else{
                      <i class="fas fa-file" style="color:gray;"></i>
                      <a href="@Url.Action("GetSubTaskFile", "SubTask", new { id = tf.Id })">
                            Download @tf.FileName
                        </a>
                    }
                 
                  </li>
                }
              </ul>
        <a asp-controller = "Task" asp-action = "TaskDetail" asp-route-Id = "@Model.SubTask.TaskId" class="badge badge-danger">Back</a>
        @if(Model.SubTask.Status != "Completed"){
        <a asp-controller = "SubTask" asp-action = "StatusUpdate" asp-route-Id = "@Model.SubTask.Id" class="badge badge-success">Complete</a>
            }
        </div>
        </div>
    </div>
    <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
